.ipynb_checkpoints/
__pycache__/
*cache*/
*.zip
.Rproj.user
.Rhistory
.RData
other-data/
an12*
QGIS/
*.pdf
data/0*.gpkg
odds-and-ends/
presentations/NACIS-2022/
.DS_Store
marimo/
superseded/
examples/scratch-pad.ipynb
examples/jev-reporting-layer.ipynb
paper/*
paper/*/*
.weaving-space/
Wellington-Python-meetup-2025/